name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: Unit tests (Postgres service)
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: credentials_db
          POSTGRES_USER: app
          POSTGRES_PASSWORD: app
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U app -d credentials_db"
          --health-interval=5s
          --health-timeout=3s
          --health-retries=20

    env:
      # DB (R2DBC)
      SPRING_R2DBC_URL: r2dbc:postgresql://localhost:5432/credentials_db
      SPRING_R2DBC_USERNAME: app
      SPRING_R2DBC_PASSWORD: app

      # Flyway (JDBC)
      SPRING_FLYWAY_URL: jdbc:postgresql://localhost:5432/credentials_db
      SPRING_FLYWAY_USER: app
      SPRING_FLYWAY_PASSWORD: app

      # JWT secret: CI use dummy, here could use GitHub Secret.
      APP_JWT_SECRET: ${{ secrets.APP_JWT_SECRET != '' && secrets.APP_JWT_SECRET || 'ci-secret-ci-secret-ci-secret-ci-secret' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Run tests
        run: mvn -q -DskipITs test

  docker-build:
    name: Build Docker image
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Solo build (sin push) para el challenge
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: false
          tags: credential-manager-service:ci
